/**
 * Theme Name:jinjilake
 * Description:Mltedu wordpress theme
 * Author:venusjin
 */

body,html{
	FONT: 0.75em Dinot,Verdana, Geneva, sans-serif; margin:0; padding:0;line-height:170%; height:100%;overflow:hidden; 
	color:#e3c166;
}
body{background:#000 url(img/loading.gif) center center no-repeat;}
.Alp{filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;}
.Alp_10{filter:alpha(opacity=10);-moz-opacity:0.1;-khtml-opacity: 0.1;opacity: 0.1;}
.Alp_20{filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2;}
.Alp_30{filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.Alp_50{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.Alp_70{filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.Alp_80{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.Alp_90{filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
h7 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; list-style:none;
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; border:0;
}
CITE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
STRONG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
p{
	margin-top:2px;
}
a{
	text-decoration:none;
	color:#e3c166;
}
.fontSize14{
	font-size:14px;	
}
.fontSize16{
	font-size:16px;	
}
.fontSize22{
	font-size:22px;	
}
.floatLeft{
	float:left;
}
.clearFloat{
	clear:both;
}
.fb{
	font-weight:bold;
}
.alignCenter{
	text-align:center;
}
.marTop10{
	margin-top:10px;
}
input[type="text"]{
	font-size:12px;	
}
.fRed{
	color:red;
}
.dHidden{
	display:none;
}
.borderDiv{
	border:1px solid #e3c166;
	padding:5px;	
	width:100px;
}
#user_pass{
	width:148px;	
}
.transition-long-ease-in-out{
	-webkit-transition:all 1000ms ease-in-out 0s;
	-moz-transition:all 1000ms ease-in-out 0s;
	-ms-transition:all 1000ms ease-in-out 0s;
	-o-transition:all 1000ms ease-in-out 0s;
	transition:all 1000ms ease-in-out 0s;
}
.transition-long{
	-webkit-transition:all 1500ms cubic-bezier(.08,.65,0,.98) 0s !important;
	-moz-transition:all 1500ms cubic-bezier(.08,.65,0,.98) 0s !important;
	-ms-transition:all 1500ms cubic-bezier(.08,.65,0,.98) 0s !important;
	-o-transition:all 1500ms cubic-bezier(.08,.65,0,.98) 0s !important;
	transition:all 1500ms cubic-bezier(.08,.65,0,.98) 0s !important;
}
.VideoIndex{ 
	height:100%; 
	width:100%; 
	position:absolute;
}

.wrap{ 
	position:relative; 
	width:100%; 
	height:100%; 
	z-index:12; 
	top:0;
}
.logo{ 
	position:absolute; 
	width:100%; 
	height:230px; 
	left:0px; 
	top:0px; 
}
.logo img{
	width:100%;
}
.nav{
	position:absolute;
	height:20px; 
	right:60px; 
	top:60px;
	font-size:14px;
	overflow:hidden;
}
.nav a{
	color:#e3c166;
}
.nav a:hover{
	color:#e3b32d;
}
.menu-primary-container{
	position:absolute;
	height:20px; 
	right:60px; 
	top:20px;
	font-size:14px;
	overflow:hidden;
}
.menu-primary-container ul li{
	float:left;
	border-right:1px solid #e3c166;
	padding:2px 15px;
}
.menu-primary-container ul li:last-child{
	border-right:none;
}
.menu-primary-container ul li a{
	color:#e3c166;
}
.menu-primary-container ul li a:hover{
	color:#e3b32d;
}

.slogan{
	position:absolute;
	top:40%;
	right:140px;
	display:none;
}
.sloganView{
	position:absolute;
	top:40%;
	right:140px;
}
.mo{
	position:relative;
	margin-top:0;
}
.moButton{
	z-index:14;
	cursor:pointer;
	width:304px;
	margin:0 auto;
}

/*Left Navigation */
.LnavBg{ 
	position:absolute; 
	left:-200px; 
	top:180px; 
	width:140px; 
	height:526px; 
	min-height:400px; 
	background:url(img/LNav.png) left top repeat-y;
	z-index:13;
	opacity:0;filter:alpha(opacity=0);
}
.LnavBg a{
	display:block;
	position:relative;
	height:30px;
	border-bottom:1px solid #e5b9a6;
	line-height:29px;
	vertical-align:middle;
	text-align:center;
	margin-left:-200px;
	width:140px;
	color:#e3c166;
	font-size:14px;
}
.LnavBg a:hover{
	background:url(img/LNavHover.png) left top;
}
.LnavBg a.cur{
	background:url(img/LCont.png) left top;
}
.minHB{
	min-height:500px;
}
.submitButton{
	border:1px solid #e3c166;
	padding-left:8px;
	padding-right:8px;
	background:none;
	color:#e3c166;
	font-size:12px;
	margin-left:7px;
	margin-right:7px;
	cursor:pointer;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
	width:100%;
	text-align:center;
}

.bordered tr:hover {
    background: #655114;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;    
}

.bordered th {
    background-color: #97854f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97854f), to(#887848));
    background-image: -webkit-linear-gradient(top, #97854f, #887848);
    background-image:    -moz-linear-gradient(top, #97854f, #887848);
    background-image:     -ms-linear-gradient(top, #97854f, #887848);
    background-image:      -o-linear-gradient(top, #97854f, #887848);
    background-image:         linear-gradient(top, #97854f, #887848);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

		/*Pricing table and price blocks*/
		.pricing_table {
			line-height: 150%; 
			font-size: 12px; 
			margin: 0 auto; 
			width: 95%; 
			max-width: 800px; 
			padding-top:10px;
			margin-top: 10px;
		}
		
		.price_block {
			text-align: center; 
			width: 48%; 
			color: #fff; 
			float: left; 
			list-style-type: none; 
			transition: all 0.25s; 
			position: relative; 
			box-sizing: border-box;
			margin-bottom: 10px; 
			border-right: 1px solid transparent; border-bottom: 0 none;
		}
		.marL3pc{
			margin-left:3%;
		}
		
		/*Price heads*/
		.pricing_table h3 {
			text-transform: uppercase; 
			padding: 5px 0; 
			background: #b49a54; 
			margin: -10px 0 1px 0;
		}
		
		
		/*Features*/
		.features {
			background: #7f6c38; 
			color: #fff;
		}
		.features li {
			padding: 8px 15px;
			border-bottom: 1px solid #ccc; 
			list-style-type: none;
		}
		
		.price_block:hover {
			box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
			transform: scale(1.04) translateY(-5px); 
			z-index: 1; 
			border: 0 none;
		}
		.price_block:hover h3 {
			background: #8a7641;
		}
		.price_block:hover .action_button {
			background: linear-gradient(#F9B84A, #DB7224); 
		}
		.price_block:last-child {border-right: 0 none;}
		
.whiteborderTable{
	width:100%;	
	border-left:1px solid #e3c166;
	border-top:1px solid #e3c166;
}
.whiteborderTable td{
	margin:0;
	text-align:center;
	padding:10px;
	border-right:1px solid #e3c166;
	border-bottom:1px solid #e3c166;
}
td.tdal{
	text-align:left;
}


/*Left Navigation 2*/
.LCont{
	position:absolute;
	width:533px;
	left:-393px;
	top:180px;
	height:526px;
	min-height:400px;
}
/*for long width*/
.LContLong{
	position:absolute;
	width:933px;
	left:-393px;
	top:180px;
	height:526px;
	min-height:500px;
	font-size:12px;
}
.LContHead{
	position:relative;
	width:100%;
	height:30px;
	background:url(img/LNav.png) left top repeat;	
	opacity:0;filter:alpha(opacity=0);
	border-left:1px solid #e5b9a6;
}
.close{ 
	position:absolute;
	width:30px; 
	height:30px; 
	right:0; 
	background:url(img/close.png) left center no-repeat; 
	cursor:pointer; 
	opacity:0;filter:alpha(opacity=0);
}
.close:hover{ 
	background-color:#5e400b;
}
.LContMiddle{
	position:relative;
	width:100%;
	height:456px;
	background:url(img/LCont.png) left top repeat;
	opacity:0;filter:alpha(opacity=0);
	border-left:1px solid #e5b9a6;
	min-height:330px;
}
.LContLong .LContMiddle{
	min-height:430px;
}
.contTitle{
	position:absolute; 
	width:82%; 
	margin-top:22px; 
	font-size:26px; 
	color:#e3c166;
	line-height:120%;
	font-weight:100; 
	letter-spacing:2px; 
	left:-100px; 
	opacity:0;filter:alpha(opacity=0);
}
#yearList{
	width:100%;
	overflow:hidden;
	height:30px;
	line-height:100%;
	font-size:11px;
	white-space:nowrap;
	margin-top:12px;
}
#yearList li{
	float:left;	
	margin-left:5px;
	cursor:pointer;
	padding:5px 3px;
}
#yearList li:first-child{
	margin-left:0px;
}
#yearListDiv{
	
}
.honorTable{
	width:100%; 
	border-left:1px solid #90844a; 
	text-align:center; 
	color:white;
}
.honorTable ul{
	height:auto;
	width:100%;
}
.honorTable li{
	border-right:1px solid #90844a;
	border-bottom:1px solid #90844a;
	float:left;
	text-align:center;
}
.yearPicDetail{
	display:none;	
}
.LCont .contLine{ 
	position:absolute; 
	width:82%; 
	margin-top:72px;
	height:3px; 
	left:9%; 
	background:url(img/contLine.png) left top no-repeat;
	background-size:100% 100%;
	opacity:0;filter:alpha(opacity=0);
}
.LContLong .contLine{ 
	position:absolute; 
	width:82%; 
	margin-top:72px;
	height:3px; 
	left:9%; 
	background:url(img/contLine.png) left top no-repeat;
	background-size:100% 100%;
	opacity:0;filter:alpha(opacity=0);
}
.LCont .cont{ 
	position:absolute; 
	width:82%; 
	height:340px; 
	left:200px; 
	margin-top:96px;
	opacity:0;filter:alpha(opacity=0);
	min-height:234px;
}
.LContLong .cont{ 
	position:absolute; 
	width:82%; 
	height:440px; 
	left:200px; 
	margin-top:96px;
	opacity:0;filter:alpha(opacity=0);
	min-height:430px;
}
.LContLong .cont img{ 
	width:100%; 
}
.LCont .sCont{ 
	width:100%; 
	height:100%; 
	font-size:12px; 
	line-height:22px;  
	overflow:hidden;
	color:#e3c166;
}
.sCont .scLine{
	position:relative;
	width:100%; 
	margin-top:16px;
	height:3px; 
	margin-left:0;
	background:url(img/contLine.png) left top no-repeat;	
	padding-bottom:16px;
}
.sCont p{
	padding-bottom:5px;	
}
.sCont .postTitle{
	text-align:center;
	font-size:18px;
	padding-bottom:10px;	
}
.threePic{
	width:100%;
	padding-bottom:10px;	
}
.threePic li{
	width:33%;
	float:left;
}
.threePart{
	width:100%;	
	margin-top:10px;
}
.threePart li{
	width:30%;
	height:260px;
	margin-left:3%;
	float:left;
	overflow:hidden;
}
.threePart li:first-child{
	margin-left:0px;
}
.threePart li .partTop{
	height:190px;
	overflow:hidden;
}
.threePart li .partBottom{
	height:70px;	
}
.threePart li img{
	width:100%;
}
.newsList ul{
	padding:8px 0;
	width:100%;
	border-bottom:1px dashed #e3c166;	
}
.eJPage{
	display:none;
}
.tempPic img{
	width:100%;
}
.coachLeft{
	width:37%;
	float:left;
	text-align:center;
}
.coachLeft img{
	width:100%;
}
.coachRight{
	width:60%;
	float:right;
}
.contactLeft{
	width:45%;
	float:left;	
}
.contactRight{
	width:45%;
	float:right;
}
.advicesont .wpcf7-submit{
	border:1px solid #e3c166;
	padding-left:12px;
	padding-right:12px;
	background:none;
	color:#e3c166;
	font-size:12px;
	margin-top:10px;
	margin-left:40%;
	cursor:pointer;	
}
.indexscont .wpcf7-submit{
	border:1px solid #e3c166;
	padding-left:12px;
	padding-right:12px;
	background:none;
	color:#e3c166;
	font-size:12px;
	margin-left:20px;
	cursor:pointer;	
}
.wpcf7-mail-sent-ok{
	display:none;
}
label{  
    display: inline-block;    
    vertical-align: left;  
	width:70px;
}  
#wp-submit{
	border:1px solid #e3c166;
	padding-left:12px;
	padding-right:12px;
	background:none;
	color:#e3c166;
	font-size:12px;
	margin-top:10px;
	margin-left:65px;
	cursor:pointer;	
}
.welcome{
	float:left;
}
.logout{
	display:block;
	float:left;
	margin-left:20px;
	font-size:14px;
	background-color:#f0c34a;
	height:18px;
	margin-top:10px;
	padding:0px 5px;
	padding-top:0;
	vertical-align:middle;
	line-height:18px;
	border-radius:4px;
}
.logout a{
	color:#372a09;
	font-size:14px;
}
.geoCerti{
	position:absolute;
	left:600px;
	top:50px;
	width:282px;
	height:382px;
	overflow:hidden;	
	min-height:274px;
}


.LContFoot{
	position:relative;
	width:100%;
	height:40px;
	background:url(img/LNav.png) left top repeat;	
	opacity:0;filter:alpha(opacity=0);
	border-left:1px solid #e5b9a6;
}


/*index photo gallery show*/
.photogallery{ 
	position:absolute; 
	left:460px; 
	top:180px; 
	width:1000px; 
	height:506px;
	padding-bottom:20px; 
	min-height:400px; 
	background:url(img/LCont.png) left top repeat;
	z-index:13;
	overflow:hidden;
}
.photogallery ul{
	position:relative;
	width:90%;	
}
.photogallery .galleryTitle{
	margin-top:30px;
	font-size:26px;
	margin-left:5%;
	text-align:center;	
}
.photogallery .galleryLine{ 
	margin-top:20px;
	height:3px; 
	margin-left:5%; 
	background:url(img/contLine.png) left top no-repeat;
	background-size:100% 100%;
}
.photogallery .galleryShow{
	height:auto;
	overflow:hidden;
	margin-left:5%;	
}
.photogallery .galleryShow li{
	float:left;
	margin-left:20px;
	width:150px;
	height:100px;
	margin-top:15px;
}
.photogallery .galleryShow li:first-child{
	
}
.photogallery .galleryShow li img{
	width:100%;
	height:100%;
}
	


.foot{
	position:fixed;
	bottom:0px;
	left:0;
	width:100%;
	height:76px;
	background:url(img/footbk.png) left bottom repeat-x;
	color:white;
	font-size:12px;
	z-index:333;
}
.foot .language{
	position:absolute;
	top:24px;
	left:40px;	
	z-index:345;
}
.foot .copyright{
	float:right;
	margin-right:46px;
	height:35px;
	margin-top:18px;
}
.foot a{
	color:white;
}
.foot a:hover{
	text-decoration:underline;
}
.foot .imgLogo{
	position:absolute;
	left:0;
	top:10px;
	width:100%;
	text-align:center;	
}
.foot .memberLogo{
	position:absolute;
	left:0;
	top:2px;
	width:100%;
	text-align:center;	
}

.page_navi{width:100%;height:36px;line-height:36px;text-align:center;overflow:hidden;padding-top:1em;}
.page_navi a{padding:3px 8px;margin:2px;text-decoration:none;color:#e3c166;border:1px solid #e3c166;}
.page_navi a:hover{border:1px solid #a4a19a; background-color:#a4a19a}
.page_navi a.current{border:1px solid #a4a19a;color:#a4a19a;background-color:transparent}


@media screen and (max-width: 1680px) {
	.menu-primary-container{
		top:18px;
	}
}	
@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1440px) {
	.menu-primary-container{
		top:16px;
	}
}
@media screen and (max-width: 1280px) {
	.menu-primary-container{
		font-size:12px;
		top:12px;
		right:40px; 
	}
	.sloganView{
		right:100px;
	}
}
@media screen and (max-width: 1024px) {
	.menu-primary-container{
		font-size:11px;
		top:8px;
		right:20px; 
	}
	.sloganView{
		right:80px;
	}
}
@media screen and (max-width: 800px) {
	.menu-primary-container{
		font-size:10px;
		top:4px;
	}
	.sloganView{
		right:60px;
	}
}
@media screen and (min-aspect-ratio: 177/100) {
	
}